@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

html, body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    background: #333;

}

::selection {
  background: #f5cf00;
  color: black;
}

#content-block {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}



.main {
    padding-bottom: 70px;
}

.textarticle {
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.textarticle h1, h2, h3, p, hr {
    padding-left: 25px;
    padding-right: 25px;
}

.textarticle h2 {
    padding-top: 25px;
}
.textarticle button {
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
}

.textarticle img {
    -webkit-box-shadow: 0 0 5px 1px #1e1e1e;
    border: 1px solid #353535;
    border-radius: 10px;
}

.img-article {
    max-width: 75%;
    max-height: 450px;
}

.a-article {
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    display: inline-block;
    float: right;
    text-align: center;
    padding: 5px 5px;
    font-size: 12px;

}


.date {
    color: #c0c0c0;

}


.navbar {
    background-color: #424242;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.navbar a, .soc-net a, .categories a, .btm a, .paginator a, .center-a, .apps a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 12px;
}


a:hover {
    background-color: #f5cf00;
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.navbar img {
    width: 34px;
    height: 34px;
}


.categories a.selected, .paginator a.selected, .center-a {
    background-color: #fff;
    color: black;
    border-radius: 10px;
}


.soc-net, .categories {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.soc-net img {
    width: 40px;
}

.soc-net a {
    padding: 8px 0px;
    width: 60px;
}

.headimg img {
    width: 100%;
    text-align: center;
}


.apps {
    width: 100%;
    padding-top: 10px;
}

.apps a {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    min-height: 80px;
}

.apps img {
    float: left;
    display: block;
    max-width: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.apps h2 {
    margin-bottom: 5px;
}

.apps p {
    margin-top: 0;
}




.btm.left, .btm.right {
    text-align: center;
    padding: 0px 25px 75px 25px;
}

.btm.left {
    float: left;
}
.btm.right {
    float: right;
}

/* Формы заполнения */

.form-label {
    float: left;
    width: 100px;
}

.btm-add-article{
    margin: 0 auto;
    display: block;
}

.center {
    margin-top: 50px;
    display: block;
}

.btm-add-article:hover {
    background-color: #f5cf00;
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.form-error {
    background-color: red;
    border-radius: 10px;
}

.paginator, .center {
    text-align: center;
}

