{% load static %}
{% load main_deed_tags %}
{% get_menu as menu %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_deed/css/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'main_deed/images/main.ico' %}">
    <link rel="manifest" href="{% static 'main_deed/manifest.json' %}">
</head>
<body>


<div class="main">

    <div id="content-block">
    {% block content %}
    {% endblock %}
    </div>


    <div class="paginator">
        {% if page_obj.has_other_pages %}

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"> &lt; </a>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <a class="selected">{{ p }}</a>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <a href="?page={{ p }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> &gt; </a>
            {% endif %}
        {% endif %}
    </div>

</div>


{% block mainmenu %}
    <div class="navbar">
        {% if request.user.is_authenticated %}
            <a href="{{ user.get_absolute_url }}"><img src="{% static 'main_deed/images/entered-profile.png' %}" />
                <br> {{ user.username|truncatechars:5 }} </a>
        {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'main_deed/images/login.png' %}" />
                <br> ВОЙТИ </a>
        {% endif %}

        {% for m in menu %}
            <a href="{% url m.url_name %}"><img src="{% static m.src_img %}" /> <br> {{ m.title }} </a>
        {% endfor %}
    </div>
{% endblock %}




</body>
</html>