{% extends 'main_deed/base.html' %}

{% block content %}

    <div class="textarticle">

        <h1 align="center">{{ title }}</h1>
        <hr>

        <form class="textarticle" method="post">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">
                    {{ f.label }}: </label>{{ f }}
                </p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button class="btm-add-article" type="submit">Войти</button>

        </form>
            <div class="center">
                <a class="center-a" href="{% url 'register' %}">Регистрация</a>
                <a class="center-a" href="{% url 'contact' %}">Обратная связь</a>
                <a class="center-a" href="{% url 'admin:index' %}">Aдминистратор</a>
            </div>


    </div>

{% endblock %}