{% extends 'main_deed/base.html' %}
{% load static %}

{% block content %}

<div class="apps">
    <a href="#">
        <img src="{% static 'main_deed/images/about.png' %}">
        <div apps-text>
            <h2>Английский по карточкам</h2>
            <p>Изучай новые слова по системе карточек</p>
        </div>
    </a>

    <hr>
    <a href="#">
        <h2>Цели и достижения</h2>
        <p>Отслеживай свои задачи и достижения</p>
        <img src="{% static 'main_deed/images/about.png' %}">
    </a>
    <hr>
</div>

    
    
    


{% endblock %}
