{% extends 'main_deed/base.html' %}
{% load static %}

{% block content %}

<div class="apps">
    <a href="#">
        <img src="{% static 'main_deed/images/grate-britan.png' %}">
        <div>
            <h2>Английский по карточкам</h2>
            <p>Изучай новые слова по системе карточек</p>
        </div>
    </a>
    <hr>

    <a href="#">
        <img src="{% static 'main_deed/images/point-darts.png' %}">
        <div>
            <h2>Цели и достижения</h2>
            <p>Отслеживай свои задачи и достижения</p>
        </div>
    </a>
    <hr>
</div>

    <p>Данный раздел пока находится в разработке.</p>
    
    


{% endblock %}
